{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regi page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'register/css/regiPage.css' %}">
</head>

<body>
    <form method="post">{% csrf_token %}
        <label>
            <p class="label-txt">ENTER YOUR NAME</p>
            {{form.name}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label>
            <p class="label-txt">ENTER YOUR EMAIL</p>
            {{form.email}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label>
            <p class="label-txt">ENTER YOUR PASSWORD</p>
            {{form.psrd}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        {{ form.non_field_errors }}
        <label>
            <p class="label-txt">RE-ENTER YOUR PASSWORD</p>
            {{form.rpsrd}}
            {% if form.rpsrd.errors %}
            <div class="error">{{ form.rpsrd.errors }}</div>
            {% endif %}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <button type="submit">submit</button>
    </form>
</body>
<script src="{% static 'register/js/regiPage.js' %}"></script>

</html>